@charset "utf-8";

/* font Open Sans */

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-ExtraBold.eot');
    src: url('../font/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../font/OpenSans-ExtraBold.woff') format('woff'),
        url('../font/OpenSans-ExtraBold.ttf') format('truetype'),
        url('../font/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-ExtraBoldItalic.eot');
    src: url('../font/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
    url('../font/OpenSans-ExtraBoldItalic.woff') format('woff'),
    url('../font/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
    url('../font/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Bold.eot');
    src: url('../font/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/OpenSans-Bold.woff2') format('woff2'),
        url('../font/OpenSans-Bold.woff') format('woff'),
        url('../font/OpenSans-Bold.ttf') format('truetype'),
        url('../font/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-BoldItalic.eot');
    src: url('../font/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../font/OpenSans-BoldItalic.woff') format('woff'),
        url('../font/OpenSans-BoldItalic.ttf') format('truetype'),
        url('../font/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-SemiBold.eot');
    src: url('../font/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-SemiBold.woff2') format('woff2'),
    url('../font/OpenSans-SemiBold.woff') format('woff'),
    url('../font/OpenSans-SemiBold.ttf') format('truetype'),
    url('../font/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-SemiBoldItalic.eot');
    src: url('../font/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-SemiBoldItalic.woff2') format('woff2'),
    url('../font/OpenSans-SemiBoldItalic.woff') format('woff'),
    url('../font/OpenSans-SemiBoldItalic.ttf') format('truetype'),
    url('../font/OpenSans-SemiBoldItalic.svg#OpenSans-SemiBoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Medium.eot');
    src: url('../font/OpenSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/OpenSans-Medium.woff2') format('woff2'),
        url('../font/OpenSans-Medium.woff') format('woff'),
        url('../font/OpenSans-Medium.ttf') format('truetype'),
        url('../font/OpenSans-Medium.svg#OpenSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-MediumItalic.eot');
    src: url('../font/OpenSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-MediumItalic.woff2') format('woff2'),
    url('../font/OpenSans-MediumItalic.woff') format('woff'),
    url('../font/OpenSans-MediumItalic.ttf') format('truetype'),
    url('../font/OpenSans-MediumItalic.svg#OpenSans-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Regular.eot');
    src: url('../font/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-Regular.woff2') format('woff2'),
    url('../font/OpenSans-Regular.woff') format('woff'),
    url('../font/OpenSans-Regular.ttf') format('truetype'),
    url('../font/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Italic.eot');
    src: url('../font/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-Italic.woff2') format('woff2'),
    url('../font/OpenSans-Italic.woff') format('woff'),
    url('../font/OpenSans-Italic.ttf') format('truetype'),
    url('../font/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Light.eot');
    src: url('../font/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-Light.woff2') format('woff2'),
    url('../font/OpenSans-Light.woff') format('woff'),
    url('../font/OpenSans-Light.ttf') format('truetype'),
    url('../font/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-LightItalic.eot');
    src: url('../font/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-LightItalic.woff2') format('woff2'),
    url('../font/OpenSans-LightItalic.woff') format('woff'),
    url('../font/OpenSans-LightItalic.ttf') format('truetype'),
    url('../font/OpenSans-LightItalic.svg#OpenSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
/* font Myriad Pro */

@font-face {
    font-family: 'Myriad Pro';
    src: url('../font/MyriadPro-Regular.eot');
    src: url('../font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/MyriadPro-Regular.woff2') format('woff2'),
        url('../font/MyriadPro-Regular.woff') format('woff'),
        url('../font/MyriadPro-Regular.ttf') format('truetype'),
        url('../font/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}